body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: #b9a0a0;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px; /* Espaço para o header */
    padding-bottom: 100px; /* Espaço para o footer */
}

footer {
    background-color: #a79696;
    color: #000;
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer p {
    color: #000;
}

.container {
    width: auto;
    text-align: center;
    background: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 10px;
}

#button1,
#button2,
#button3 {
    background-color: #FFB03B;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

#button1:hover,
#button2:hover,
#button3:hover {
    background-color: #FFA300;
}

.illustration {
    max-width: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#jogar-cartas-modal,
#listar-cartas-modal,
#atualizar-cartas-modal,
#listar-todas-cartas-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#jogar-cartas-modal main,
#listar-cartas-modal main,
#atualizar-cartas-modal main,
#listar-todas-cartas-modal main {
    background-color: #dcd5d5;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
    height: auto;
    overflow: scroll;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

#jogar-cartas-modal h2,
#listar-cartas-modal h2,
#atualizar-cartas-modal h2,
#listar-todas-cartas-modal h2 {
    margin-top: 0;
    font-size: 24px;
}

#jogar-cartas-modal label,
#listar-cartas-modal label,
#atualizar-cartas-modal label,
#listar-todas-cartas-modal label {
    display: block;
    margin-bottom: 10px;
}

#jogar-cartas-modal input[type="text"],
#jogar-cartas-modal textarea,
#listar-cartas-modal input[type="text"],
#listar-cartas-modal textarea,
#atualizar-cartas-modal input[type="text"],
#atualizar-cartas-modal textarea,
#listar-todas-cartas-modal input[type="text"],
#listar-todas-cartas-modal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#jogar-cartas-modal button,
#listar-cartas-modal button,
#atualizar-cartas-modal button
#listar-todas-cartas-modal button {
    background-color: #FFB03B;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
}

#jogar-cartas-modal button:hover,
#listar-cartas-modal button:hover,
#atualizar-cartas-modal button:hover,
#listar-todas-cartas-modal button:hover {
    background-color: #FFA300;
}

#fechar-modal,
#fechar-modal2, 
#fechar-modal3 {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

#fechar-modal:hover,
#fechar-modal2:hover,
#fechar-modal3:hover {
    color: #000;
}

#listar-cartas-modal #cartas, 
#listar-todas-cartas-modal #cartas2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#jogar-cartas-modal h2, form, #carta {
    width: 400px;
}
